
<h1>Welcome to The Music Lovers App!!</h1>

<p>
    <ul id="intro">
       We live in a soceity where social media such as Facebook, Twitter, Instagram, and ect. is a huge part of our world. We connect with other people based on our hobbies and interests in our everyday life.
        <br>
        <br>
      Music Lover is a platform where users can share their soundcloud or apple music information in their user profile, and share their favorite albums from the music artists.
        <br>
        <br>
       Music moves very fast in the current soceity and we want to re-live the moments where people used to anticipate album releases and the glory days of records, cassette tapes, and CDs by sharing their information of their old or current favorite albums.
        <br>
        <br>
        This is a full stack application that will allows the user to monitor their profile, and allow them to Add their favorite music albums & the tracks from those perspective albums.



    </ul>


</p>

