<h1>Welcome To User</h1>
{{#each users}}
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>

        <a href="/users/{{_id}}" class="btn btn-primary">Go This User</a>
    </div>
</div>
{{/each}}