<h1>Albums</h1>
{{#each albums}}
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">{{Album_Title}}</h5>

        <a href="/albums/{{_id}}" class="btn btn-primary">Album Info</a>
    </div>
</div>
{{/each}}