<h1>Albums</h1>
<h1>{{user.name}}</h1>

{{#each user.Favorite_Albums}}
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">{{Album_Title}}</h5>

        <a href="/users/{{_id}}/albums/{{_id}}" class="btn btn-primary">Album Info</a>
    </div>
</div>
{{/each}}