<main>

  <h2>Crate your favorite Album</h2>


  <div id="edit-form" class="USER">

       <form action="/users/{{users._id}}/albums" method="POST">
      <div>
        <label for="Album_Title:">Album_Title: </label>
        <input type="text" name="Album_Title">
      </div>
      <div>
        <label for="Image">Image: </label>
        <input type="text" name="Image">
      </div>
      <div>
        <label for="Purchased">Purchased: (True/False)</label>
        <input type="text" name='Purchased'>
      </div>
      
      
     
      <button type="submit">Create New Album</button>
    </form>

  </div>
</main>