<h1>TRACKS</h1>
{{#each tracks}}
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">{{Track_Title}}</h5>
        <h5 class="card-title">{{users}}</h5>
      
        <a href="/users/{{_id}}" class="btn btn-primary">Track Info</a>
    </div>
</div>
{{/each}}